<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.zamzam.basememara" >

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                    android:host="@string/url_host"
                    android:pathPrefix="/" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activity.PostDetailActivity"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".activity.NotificationActivity"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".activity.TutorialActivity"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="sensorPortrait">
            <meta-data android:name="android.app.default_searchable"
                android:value=".activity.MainActivity" />
        </activity>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <meta-data android:name="io.zamzam.basememara.config.GlideConfiguration" android:value="GlideModule" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="44a36f004b1764af2297d4fbb1ba331d077c8177" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
